body{
    background-color: #26282e;
    color: #209781;
    font-size: 16px;
    font-family: 'Lobster', sans-serif;
    display: flex;
    flex-direction: column;
}

.topStat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    margin: 20px 2%;
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.radios{
    border: 2px solid #209781;
    background-color: #131936;
    padding: 3px;
    border-radius: 5px;
    width: 30px;
    height: auto;
    text-align: center;
}

.radios:hover{
    background-color: #209781;
    color: #131936;
    border: 2px solid #131936;
    border-radius: 5px;
}

#multi1, #multi10, #multi25, #multi100{
    display: none;
}
/*.money, .electricty, .greenCer{

}*/

.rows{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.columns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    margin: 0px 10px;
}

.building{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
}

.stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
    margin: 0px 5px;
}

.stat .columns{
    margin: 0px;
}
.stat .columns .stat{
    margin-left: 10px;
}
#wt{
    margin: 5px;
    background-image: url("../gfx/wt.png");
}

#sl{
    margin: 5px;
    background-image: url("../gfx/foto.png")
}

#coal{
    margin: 5px;
    background-image: url("../gfx/coal.png")
}

.build, .upgrade, .sellElectricty, .sellgreenCer{
    width: auto;
    margin: 5px;
    text-align: center;
    border: 2px solid #209781;
    background-color: #131936;
    border-radius: 15px;
    color: #209781;
    outline: none;
}

.build:hover, .upgrade:hover, .sellElectricty:hover, .sellgreenCer:hover{
    border: 2px solid #131936;
    background-color: #209781;
    color: #131936;
}
.sellElectricty, .sellgreenCer{
    width: 100px;
}

#alert{
    display: flex;
    position: absolute;
    left: 40%;
    background-color: black;
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    width: auto;
    height: 1.5em;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
}

.open{
    top: 0;
}

.close{
    top: -2em;
}